<h1 align="center" color="red"> Job Application Form</h1>
<form action="/" method="POST" align="center">
	
	
	<li><label>First Name: </label>
	<input type="text" placeholder=" First Name" name="username" required/><br><br></li>

	<li><label>Middel Name: </label>
	<input type="text" placeholder=" Middel Name" name="username"><br><br></li>

	<label>Last Name: </label>
	<input type="text" placeholder=" Last Name" name="username"><br><br>

	<label>Email Address: </label>
	<input type="email" placeholder="Email Address" name="email"><br><br>

	<label>Date-Of-Birth: </label>
	<input type="dATE" placeholder="Email Address" name="email"><br><br>
	
	
	<label>Educational Qualification: </label><select name="country">
	<option value="" selected="selected" disabled="disabled">Select your Qualification</option>
     <option value="1">B.s.c</option>
     <option value="2">M.s.C</option>
     <option value="3">B.a</option>
	 <option value="4">B.C0M</option>
	 <option value="5">P.g</option>
	 <option value="6">Css</option></select><br/><br>

	 <label>Select your gender</label>
MALE<input type="radio" name="g" value="m"/>
FEMALE<input type="radio" name="g" value="f"/><br><br>

<label>Phone Number: </label>
	<input type="Number" placeholder="Ph.No"><br><br>

	 <label>Upload your pic</label>
     <input type="file"/><br><br>

	 <label>Upload your Signature</label>
     <input type="file"/><br><br>

<colspan="2" align="center"><input type="submit" value="Save My Data"/>
<input type="reset" value="Reset Data"/><br><br>

<input type="button" value="submit"></button>

	</table>
</form>


